Checks: >
  -*,
  performance-*,
  -performance-no-int-to-ptr,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-designated-initializers,
  -modernize-use-emplace,
  -modernize-use-equals-delete,
  -modernize-use-integer-sign-comparison,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  misc-const-correctness,
WarningsAsErrors: '*'
UseColor: true
FormatStyle: none
