data/**/* filter=lfs diff=lfs merge=lfs -text
documentation/content/icon/**/* filter=lfs diff=lfs merge=lfs -text
documentation/content/gallery/*.jpg filter=lfs diff=lfs merge=lfs -text
documentation/content/gallery/*.png filter=lfs diff=lfs merge=lfs -text
