layout: index
description: F3D, a fast and minimalist 3D viewer
subtitle: F3D, a fast and minimalist 3D viewer
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://github.com/f3d-app/f3d/releases").link Releases
      p.intro-feature-desc F3D (pronounced /fɛd/) supports many file formats, from digital content to scientific datasets (including glTF, STL, STEP, PLY, OBJ, FBX), can show animations, has a lot of rendering options including real-time physically based rendering and Monte Carlo pathtracing.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="https://github.com/f3d-app/f3d").link Support Us
      p.intro-feature-desc F3D was created at Kitware and is now developed by a team of passionate devs. Please use F3D and star it on github to support us.

ul#intro-feature-list
  li.intro-feature-wrap
    center
      img(src="/f3d/gallery/04-f3d.png", width="90%")
  li.intro-feature-wrap
    center
      img(src="/f3d/gallery/directScalars.png", width="90%")

ul#intro-feature-list
  li.intro-feature-wrap
    center
      video(autoplay='' loop='' muted='' width="90%")
        source(src="/f3d/gallery/dota.webm" type="video/webm")
  li.intro-feature-wrap
    center
      video(autoplay='' loop='' muted='' width="90%")
        source(src="/f3d/gallery/gearbox.webm" type="video/webm")

