layout: index
description: F3D, a fast and minimalist 3D viewer
subtitle: F3D, a fast and minimalist 3D viewer
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://gitlab.kitware.com/f3d/f3d/-/releases").link Releases
      p.intro-feature-desc F3D (pronounced /fɛd/) supports many file formats, from digital content to scientific datasets (including glTF, stl, ply, obj) , can show animations, has a lot of rendering options including real time physically based rendering and Monte Carlo pathtracing.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="https://www.kitware.eu/service/support").link Support and Services
      p.intro-feature-desc F3D is developed by Kitware. Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.


center
  img(style="margin: 0.5%", src="/F3D/gallery/04-f3d.png", width="50%")
