name: android

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - master

concurrency:
  group: '${{ github.workflow }}-${{ github.ref_name }}'
  cancel-in-progress: true

jobs:
  ci:
    if: github.event.pull_request.draft == false

    strategy:
      matrix:
        arch: [armeabi-v7a, arm64-v8a, x86, x86_64]

    runs-on: ubuntu-latest
    container: ghcr.io/f3d-app/f3d-ci

    env:
      NDK_VERSION: r21e
      API_LEVEL: 27

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        path: 'source'
        fetch-depth: 0
        lfs: false

    - name: Dependencies Dir
      working-directory: ${{github.workspace}}
      run: mkdir dependencies

    - name: Install NDK
      working-directory: ${{github.workspace}}
      shell: bash
      run: |
        apt-get install unzip
        wget https://dl.google.com/android/repository/android-ndk-${{env.NDK_VERSION}}-linux-x86_64.zip
        unzip -qq android-ndk-${{env.NDK_VERSION}}-linux-x86_64.zip
        mv android-ndk-${{env.NDK_VERSION}} android-ndk

    - name: Install VTK dependency
      uses: ./source/.github/actions/vtk-android-install-dep
      with:
        arch: ${{matrix.arch}}
        api_level: ${{env.API_LEVEL}}

    - name: Setup Directories
      working-directory: ${{github.workspace}}
      run: |
         mkdir build
         mkdir install

    - name: Configure
      working-directory: ${{github.workspace}}/build
      run: >
        cmake ../source
        -DCMAKE_SYSTEM_NAME=Android
        -DCMAKE_ANDROID_NDK=$(pwd)/../android-ndk
        -DCMAKE_ANDROID_ARCH_ABI=${{matrix.arch}}
        -DCMAKE_SYSTEM_VERSION=${{env.API_LEVEL}}
        -DCMAKE_INSTALL_PREFIX:PATH=../install
        -DF3D_STRICT_BUILD=ON
        -DF3D_PLUGIN_BUILD_EXODUS=OFF
        -DF3D_BINDINGS_JAVA=ON
        -DCMAKE_BUILD_TYPE=Release
        -DCMAKE_PREFIX_PATH=$(pwd)/../dependencies/vtk_build/CMakeExternals/Install/vtk-android/

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: cmake --build . --parallel 2 --target install
