name: Generate Website

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - master
      - pwa-poc

jobs:

#----------------------------------------------------------------------------
# webassembly: Build webassembly artifacts
#----------------------------------------------------------------------------
  webassembly:
    name: Generate wasm binaries
    if: github.event.pull_request.draft == false

    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: 'source'
        fetch-depth: 0
        lfs: 'true'

    - name: Build
      working-directory: ${{github.workspace}}/source/webassembly
      run: npm run build:rel

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: ./source/webassembly/dist/*
        name: f3d-wasm

#----------------------------------------------------------------------------
# generate website
#----------------------------------------------------------------------------
  generate-website:
    needs: webassembly
    name: Generate Website
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build Jekyll
      uses: actions/jekyll-build-pages@v1

    - name: Install doxygen and build doxygen doc
      working-directory: ${{github.workspace}}
      run: |
        pip install "sphinx==5.3.0" "pydata-sphinx-theme==0.13.1" sphinx-book-theme exhale
        sudo apt install doxygen
        sphinx-build -M html ./library/doxygen ./library/doxygen/build/
        sudo mv library/doxygen/build/html _site/doc/libf3d/doxygen
        sphinx-build -M html ./vtkext/public/doxygen ./vtkext/public/doxygen/build/
        sudo mv vtkext/public/doxygen/build/html _site/doc/libf3d/vtkext_doxygen

    - name: Retrieve web assembly binaries
      uses: actions/download-artifact@v4
      with:
        name: f3d-wasm
        path: ./web

    - name: Copy web assembly binaries
      run: sudo mv web _site/

    - name: Deploy
      if: github.ref == 'refs/heads/master'
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: _site
        token: ${{ secrets.GITHUB_TOKEN }}
        clean: true
