name: Style Checks
on: [push, pull_request]
jobs:

  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: C++ Formatting
      uses: DoozyX/clang-format-lint-action@v0.16
      with:
        source: 'application examples java library plugins python vtkext webassembly'
        extensions: 'h,cxx,in'
        exclude: '**/*.py.in'
        clangFormatVersion: 18
    - name: Python Formatting
      uses: psf/black@stable
      with:
        options: "--check --verbose --include '(\\.py|\\.py\\.in)'"
        src: "./python"
    - name: Prettier Formatting
      uses: creyD/prettier_action@v4.3
      with:
        dry: True
        prettier_options: '-c **/*.{js,json}'


  codespell-check:
    name: Codespell Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: codespell-project/actions-codespell@v2
      with:
        check_filenames: true
        check_hidden: true
