on:
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]
    branches:
      - master
name: Style Checks
jobs:

  style-checks:
    name: Formatting Check
    runs-on: ubuntu-latest

    env:
      ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:

    - uses: actions/checkout@v4
      with:
        ref: ${{github.event.pull_request.head.ref}}
        repository: ${{github.event.pull_request.head.repo.full_name}}

    - name: C++ Formatting
      uses: DoozyX/clang-format-lint-action@v0.16
      with:
        source: '.'
        extensions: 'h,cxx,in'
        exclude: './cmake **/*.py.in **/*.log.in **/*.json.in **/*.thumbnailer.in **/*.cmake.in **/*.desktop.in'
        clangFormatVersion: 18
        inplace: True

    - name: Python Formatting
      uses: psf/black@stable
      with:
        options: "--include '(\\.py|\\.py\\.in)'"

    - name: Prettier Formatting
      continue-on-error: true
      uses: creyD/prettier_action@v4.3
      with:
        dry: True
        prettier_options: '-w **/*.{js,json,md,html}'

    - name: Codespell in place
      shell: bash
      run: |
        apt install -y codespell
        codespell -fHw .

    - uses: googleapis/code-suggester@v5
      with:
        command: review
        pull_number: ${{ github.event.pull_request.number }}
        git_dir: '.'

    - name: Diff output
      shell: bash
      run: git diff --color=always --exit-code
