name: Style Checks
on: [push, pull_request]
jobs:

  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: C++ Formatting
      uses: DoozyX/clang-format-lint-action@v0.16
      with:
        source: '.'
        extensions: 'h,cxx,in'
        exclude: './cmake **/*.py.in **/*.log.in **/*.json.in **/*.thumbnailer.in **/*.cmake.in **/*.desktop.in'
        clangFormatVersion: 18
    - name: Python Formatting
      uses: psf/black@stable
      with:
        options: "--check --verbose --include '(\\.py|\\.py\\.in)'"
    - name: Prettier Formatting
      uses: creyD/prettier_action@v4.3
      with:
        dry: True
        prettier_options: '-c **/*.{js,json,md,html}'
    - name: Python Formatting in place
      if: failure()
      uses: psf/black@stable
      with:
        options: "--include '(\\.py|\\.py\\.in)'"
    - name: Prettier Formatting in place
      if: failure()
      uses: creyD/prettier_action@v4.3
      with:
        dry: True
        prettier_options: '-w **/*.{js,json,md,html}'
    - name: Diff output
      if: failure()
      shell: bash
      run: git diff --color=always

  codespell-check:
    name: Codespell Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: codespell-project/actions-codespell@v2
      with:
        check_filenames: true
        check_hidden: true
